section.amas-saude__banner {
  padding: 278px 0px 0px 0px;
}

.amas-saude__banner-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.amas-saude__banner-box-texto,
.amas-saude__banner-box-img {
  width: 48%;
}

h3.amas-saude__banner-box-titulo1 {
  font-family: "Gotham" sans-serif;
  font-weight: 900;
  font-size: 82px;
  text-align: left;
  color: #37613c;
  color: #37613c;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (max-width: 74.9375em) {
  h3.amas-saude__banner-box-titulo1 {
    font-size: 52px;
  }
}

@media (max-width: 48em) {
  h3.amas-saude__banner-box-titulo1 {
    font-size: 25px;
  }
}

h4.amas-saude__banner-box-titulo1 {
  font-family: "Gotham" sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: left;
  color: #37613c;
  margin-bottom: 20px;
}

@media (max-width: 48em) {
  h4.amas-saude__banner-box-titulo1 {
    font-size: 20px;
  }
}

p.amas-saude__banner-paragrafo1,
p.amas-saude__banner-paragrafo2,
p.amas-saude__banner-paragrafo3,
p.amas-saude__banner-paragrafo4,
p.amas-saude__banner-paragrafo5 {
  font-family: "Gotham" sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: left;
  font-size: 24px;
  color: #37613c;
  margin-bottom: 30px;
}

@media (max-width: 48em) {
  p.amas-saude__banner-paragrafo1,
  p.amas-saude__banner-paragrafo2,
  p.amas-saude__banner-paragrafo3,
  p.amas-saude__banner-paragrafo4,
  p.amas-saude__banner-paragrafo5 {
    font-size: 16px;
  }
}

.amas-saude__banner-box-img img {
  max-width: 747px;
}

section.guia {
  background-color: #37613c;
  padding: 100px 0px;
}

h3.guia-beneficiario__titulo {
  font-family: "Gotham" sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: left;
  color: #fff;
  margin-bottom: 50px;
}

@media (max-width: 48em) {
  h3.guia-beneficiario__titulo {
    font-size: 20px;
  }
}

p.guia-beneficiario__paragrafo1,
p.guia-beneficiario__paragrafo2,
p.guia-beneficiario__paragrafo3,
p.guia-beneficiario__paragrafo4 {
  font-family: "Gotham" sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 50px;
}

@media (max-width: 48em) {
  p.guia-beneficiario__paragrafo1,
  p.guia-beneficiario__paragrafo2,
  p.guia-beneficiario__paragrafo3,
  p.guia-beneficiario__paragrafo4 {
    font-size: 18px;
  }
}

.guia-befeficiario a {
  font-family: "Gotham" sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: left;
  color: #37613c;
  max-width: 633px;
  height: 63px;
  border-radius: 10px;
  background: #dce3dd;
  border: 1px solid #37613c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media (max-width: 48em) {
  .guia-befeficiario a {
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .amas-saude__banner-conteudo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .amas-saude__banner-box-texto,
  .amas-saude__banner-box-img {
    width: 100%;
  }
  .amas-saude__banner-box-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .amas-saude__banner-box-img img {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  section.guia {
    background-color: #37613c;
    padding: 30px 0px;
  }
  p.amas-saude__banner-paragrafo1,
  p.amas-saude__banner-paragrafo2,
  p.amas-saude__banner-paragrafo3,
  p.amas-saude__banner-paragrafo4,
  p.amas-saude__banner-paragrafo5 {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=amas-saude.css.map */