section.codigo-etica {
  padding: 350px 0px 100px 0px;
}

.codigo-etica__conteudo h3 {
  font-family: "Gotham" sans-serif;
  font-weight: 900;
  font-size: 82px;
  text-align: left;
  color: #37613c;
  color: #37613c;
  text-transform: uppercase;
  margin-bottom: 50px;
}

@media (max-width: 74.9375em) {
  .codigo-etica__conteudo h3 {
    font-size: 52px;
  }
}

@media (max-width: 48em) {
  .codigo-etica__conteudo h3 {
    font-size: 25px;
  }
}

.codigo-etica__lista li {
  font-family: "Gotham" sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #37613c;
}

@media (max-width: 48em) {
  .codigo-etica__lista li {
    font-size: 18px;
  }
}

.codigo-etica__box-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.codigo-etica__lista a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  max-width: 633px;
  min-width: 281px;
  height: 63px;
  border-radius: 10px;
  background: #dce3dd;
  border: 1px solid #37613c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.codigo-etica__img,
.codigo-etica__conteudo-box {
  width: 48%;
}

.codigo-etica__lista span img {
  max-width: 35.29px;
  height: 35.22px;
  background: transparent;
}

.codigo-etica__img img {
  max-width: 100%;
}

@media screen and (max-width: 990px) {
  .codigo-etica__box-principal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .codigo-etica__img,
  .codigo-etica__conteudo-box {
    width: 100%;
  }
  .codigo-etica__conteudo h3 {
    text-align: center;
  }
  .codigo-etica__lista ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.codigo-etica {
    padding: 249px 0px 50px 0px;
  }
  .codigo-etica__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .codigo-etica__img img {
    width: 80%;
  }
  .codigo-etica__lista a {
    width: 80%;
  }
}
/*# sourceMappingURL=codigo-etica.css.map */