section.historia-banner {
  padding: 350px 0px 0px 0px;
}

.historia-banner__conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historia-banner__conteudo-texto h3 {
  font-family: "Gotham" sans-serif;
  font-weight: 900;
  font-size: 82px;
  text-align: left;
  color: #37613c;
  color: #37613c;
  text-transform: uppercase;
}

@media (max-width: 74.9375em) {
  .historia-banner__conteudo-texto h3 {
    font-size: 52px;
  }
}

@media (max-width: 48em) {
  .historia-banner__conteudo-texto h3 {
    font-size: 25px;
  }
}

.historia-banner__conteudo-texto h4 {
  font-family: "Gotham" sans-serif;
  font-weight: 300 !important;
  font-size: 35px;
  text-align: left;
  line-height: 35px;
  color: #37613c;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 50px;
}

@media (max-width: 48em) {
  .historia-banner__conteudo-texto h4 {
    font-size: 16px;
  }
}

.historia-banner__conteudo-texto p {
  font-family: "Gotham" sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #37613c;
  margin-bottom: 30px;
}

@media (max-width: 48em) {
  .historia-banner__conteudo-texto p {
    font-size: 18px;
  }
}

.historia-banner__conteudo-texto,
.histoaria-banner__conteudo-img {
  width: 45%;
}

section.historia-conteudo__box {
  background-color: #37613c;
  padding: 100px 0px;
}

.historia-conteudo__box-texto p {
  font-family: "Gotham" sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 19px;
}

@media (max-width: 48em) {
  .historia-conteudo__box-texto p {
    font-size: 18px;
  }
}

.historia-conteudo__box-texto h4 {
  font-family: "Gotham" sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: left;
  color: #fff;
  margin: 50px 0px 35px 0px;
}

@media (max-width: 48em) {
  .historia-conteudo__box-texto h4 {
    font-size: 16px;
  }
}

.historia-conteudo__lista-li {
  font-family: "Gotham" sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 48em) {
  .historia-conteudo__lista-li {
    font-size: 18px;
  }
}

p.paragrafo-texto2 {
  margin-top: 56px;
}

ul.historia-conteudo__lista {
  margin-top: -23px;
}

@media screen and (max-width: 980px) {
  .historia-banner__conteudo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .historia-banner__conteudo-texto,
  .histoaria-banner__conteudo-img {
    width: 100%;
  }
  .histoaria-banner__conteudo-img img {
    width: 100%;
  }
  section.historia-banner {
    padding: 280px 0px 0px 0px;
  }
  section.historia-conteudo__box {
    padding: 50px 0px;
  }
  .historia-banner__conteudo-texto h3 {
    margin-bottom: -20px;
    line-height: 33px;
  }
  .historia-conteudo__box-texto h4 {
    margin: 31px 0px 2px 0px;
  }
  p.paragrafo-texto2 {
    margin-top: 28px;
  }
}
/*# sourceMappingURL=historia.css.map */