@import "mixins";
@import "breakpoint";

#cirurgia-procedimento__texto p.terapias-conteudo__paragrafo1 {
  margin-bottom: 50px;
}

#cirurgia-procedimento__texto p.terapias-conteudo__paragrafo1 {
  margin-bottom: 50px;
}

#cirurgia-procedimento__texto h5.terapias-conteudo__titulo2 {
  @include paragraph-color1;
  color: $fourth-color;
}
section#cirurgia-procedimento__texto {
  background-color: $primary-color;
  padding: 30px 0px 30px 0px;
}

section#cirurgia-procedimento__texto p.terapias-conteudo__paragrafo1 {
  @include paragraph-banner-three;
  color: #fff;
  margin-top: 30px;
}
img#cirurgia-img__banner {
  margin-top: -22px;
}

section#page-cirurgia__procedimento {
  padding-bottom: 128px;
}

@media screen and (max-width: 980px) {
  section#cirurgia-procedimento__texto .terapias-conteudo__img img {
    margin-top: -80px;
    width: 90%;
    margin-top: -100px;
  }
  section#cirurgia-procedimento__texto .terapias-conteudo__texto {
    margin-top: 40px;
  }

  img#image-cirurgia {
    margin-top: -107px;
    width: 100%;
  }
  img#cirurgia-img__banner {
    margin-top: 30px !important;
  }

  section#page-cirurgia__procedimento {
    padding-bottom: 64px;
  }

  section#page-cirurgia__procedimento h4.terapias-conteudo__titulo {
    margin-bottom: -9px;
  }

  section#page-cirurgia__procedimento h5.terapias-conteudo__titulo2,
  section#page-cirurgia__procedimento h5.terapias-conteudo__titulo3,
  section#page-cirurgia__procedimento h5.terapias-conteudo__titulo4 {
    margin-top: -8px;
    margin-bottom: -5px;
  }
}
