.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

$grid__cols: 12;
@for $i from 1 through $grid__cols {
  .col-#{$i} {
    flex-basis: (100 / ($grid__cols / $i)) * 1%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
