@import "mixins";
@import "breakpoint";

.hospital-conteudo {
  background-image: url(/imagens/imagens-banner/banner-home-2-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
}

.hospital-conteudo__box {
  display: flex;
  justify-content: space-between;
}

.hospital-conteudo__box-tabela {
  display: flex;
  flex-direction: column;
  width: 50%;
  @include breakpoint(large-only) {
    width: 100%;
  }
}

.hospital-conteudo__box2 h2 {
  @include title-two;
  color: $fourth-color;
  margin: 100px 0px 30px 0px;
  text-align: center;
  text-transform: uppercase;
}

p.hospital-conteudo__box1-color1 {
  @include paragraph-banner;
  color: $fourth-color;
  margin-bottom: 50px;
  font-size: 27px;
}

.hospital-conteudo__box2_lista p {
  @include paragraph-color3;
  width: 100%;
  height: 94px;
  border-radius: 15px;
  background: #b6d8b9;
  border: 2px solid #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(large-only) {
    font-size: 16px;
  }
  @include breakpoint(super-small-only) {
    font-size: 12px;
    line-height: 17px;
  }
}

.hospital-conteudo__box2_lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hospital-conteudo__box1_lista-1 {
  position: relative;
  z-index: 10;
  width: 47%;
  padding: 0 10px;
  flex: 100px 1 1;
  @include breakpoint(small-only) {
    width: 100%;
  }
  @include breakpoint(super-small-only) {
    padding: 0 5px;
  }
}

.hospital-conteudo__box1_lista-1:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 5px;
  height: 260px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.hospital-conteudo__box2 a {
  border-radius: 18.5px;
  background: transparent;
  border: 2px solid #fff;
  padding: 10px;
  font-family: "Gotham";
  font-weight: normal;
  font-size: 17px;
  text-align: left;
  color: #f4f6f6;
  align-self: center;
}

.hospital-conteudo__box2 a:hover {
  font-size: 18px;
  background-color: $tertiary-color;
  transition: 0.5s;
}

.hospital-conteudo__box2 {
  flex-direction: column;
  display: flex;
}

.hospital-conteudo__box3 h3 {
  @include sub-title;
  color: $fourth-color;
  margin: 0px 0px 48px 0px;
  text-transform: uppercase;
}

.hospital-conteudo__box3-slide-lista a {
  border-radius: 18.5px;
  background: transparent;
  border: 2px solid #fff;
  padding: 10px;
  font-family: "Gotham";
  font-weight: normal;
  font-size: 17px;
  text-align: left;
  color: #f4f6f6;
  align-self: center;
}

.hospital-conteudo__box1 {
  width: 100%;
  position: relative;
  @include breakpoint(large-only) {
    display: none;
  }
}

.hospital-conteudo__box1 img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hospital-conteudo__box1_link-button {
  margin-bottom: 77px;
  @include breakpoint(small-only) {
    margin-bottom: 30px;
  }
}

/*Slick*/

button.slick-next.slick-arrow {
  @include desktop-slick-next;
}

button.slick-prev.slick-arrow {
  @include desktop-slick-prev;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  margin-bottom: 30px;
}

ul#slide-hospital {
  margin-bottom: 40px;
}

/*Resultados exames*/
section.resultado-home {
  background-image: url(/imagens/imagens-banner/banner-exame-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 0px;
}

.exames-home h3 {
  @include title-four;
  color: $primary-color;
  letter-spacing: normal;
  margin-bottom: 50px;
}

a.exames-home__link {
  @include paragraph-color2;
  font-weight: normal;
  color: $primary-color;
  width: 315px;
  height: 56px;
  border-radius: 28px;
  border: 2px solid #37613c;
  background: transparent;
  padding: 13px;
}

/*Nossos serviços*/

.nossos-servicos__home-img ul li {
  width: 23%;
}

section.nossos-servicos {
  background-image: url(/imagens/imagens-banner/banner-img-home4-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 100px 0px;
}

.nossos-servicos__home {
  display: flex;
  flex-direction: column;
}

.nossos-servicos__home-img ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nossos-servicos__home-img ul li {
  display: flex;
  flex-direction: column;
  @include paragraph-span-2;
  text-transform: uppercase;
  color: $fourth-color;
  position: relative;
}

.nossos-servicos__home-img a {
  width: 142px;
  border: 2px solid #fff;
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  font-size: 17px;
  padding: 10px;
  margin-top: 20px;
}

.nossos-servicos__home h3 {
  @include sub-title;
  text-align: center;
  text-transform: uppercase;
  color: $fourth-color;
  width: 49%;
  border-radius: 18px;
  border: solid 2px #fff;
  padding: 12px 0px;
  margin-bottom: 60px;
  align-self: center;
}

.nossos-servicos__home-img span {
  position: absolute;
  bottom: 82px;
  left: 17px;
}

img.nossos-servicos__home-li {
  width: 100%;
}

span.nossos-servicos__home-span {
  margin-bottom: 20px;
}

/*Assistencias credenciadas*/

.assistencias-home {
  background-color: $fourth-color;
}

li.assistencias-home__marca-logos img {
  width: 100%;
}

.assistencias-home__texto h3 {
  @include paragraph-color1;
  letter-spacing: 0.2em;
  color: $primary-color;
  text-transform: uppercase;
  border-radius: 18px;
  background: transparent;
  border: 2px solid #37613c;
  padding: 13px;
  width: 50%;
  text-align: center;
  margin-bottom: 90px;
}

.assistencias-home__texto {
  display: flex;
  justify-content: center;
}
section.assistencias-home {
  padding: 100px 0px;
}

ul.assistencias-home__marca-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.assistencias-home__marca-logos {
  width: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Consulta social*/

section.consulta-social__home {
  background-image: url(/imagens/imagens-banner/img-banner-social-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 100px 0px;
}

.consulta-social__home-box1 {
  h3.consulta-social__home-texto1 {
    @include title-four;
    color: $primary-color;
    letter-spacing: normal;
  }
  & p.consulta-social__home-texto2 {
    @include paragraph-banner;
    font-weight: normal;
    color: $primary-color;
    letter-spacing: normal;
    line-height: 36px;
    margin: 20px 0px 64px 0px;
  }
  & a.consulta-social__home-link {
    @include button-page-2;
    color: $primary-color;
    text-align: center;
    padding: 15px;
    width: 190px;
    height: auto;
    border-radius: 28px;
    background: transparent;
    border: 2px solid #37613c;
  }
}

.consulta-social__home-box1 {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/*sessão mapa*/

section.mapa-home {
  background-image: url(/imagens/imagens-banner/section-banner-6home-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 10px 0px;
}

.mapa-home__box-conteudo {
  h4 {
    @include paragraph-banner;
    color: $fourth-color;
    font-weight: normal;
  }
  & p,
  span {
    @include paragraph-banner;
    font-size: 26px;
    font-weight: normal;
    color: $fourth-color;
    margin: 8px 0px 30px 0px;
  }
}

.mapa-home__titulo h3 {
  @include paragraph-color1;
  color: $fourth-color;
  width: 45%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 18px;
  background: transparent;
  border: 2px solid #fff;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.mapa-home__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapa-home__box_img {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
  align-items: center;
}

.mapa-home__box_img-frame2 {
  width: 45%;
  margin-top: 50px;
}
.mapa-home__box_img-frame2 iframe {
  width: 80%;
}

.mapa-home__box_img-frame2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hospital-conteudo__box1_link-button.button-saiba1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapa-home__box-conteudo {
  width: 45%;
}
button#slick-slide-control11 {
  display: none;
}
button#slick-slide-control10 {
  display: none;
}

@media screen and (max-width: 980px) {
  .mapa-home__box_img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapa-home__box-conteudo {
    width: 100%;
    text-align: center;
  }
  .mapa-home__box_img-frame2 {
    width: 100%;
  }
  .mapa-home__box-conteudo h4 {
    text-align: center !important;
  }
  .mapa-home__box-conteudo p,
  .mapa-home__box-conteudo span {
    text-align: center;
  }

  .mapa-home__box_img {
    padding: 5px 0px;
  }

  .mapa-home__titulo h3 {
    width: 85%;
    margin-bottom: 13px;
    margin-top: 10px;
  }

  section.mapa-home {
    padding: 50px 0px;
  }
  .consulta-social__home-box1 h3.consulta-social__home-texto1 {
    text-align: center;
  }
  .consulta-social__home-box1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .consulta-social__home-box1,
  p.consulta-social__home-texto2 {
    line-height: 28px;
    text-align: center !important;
    margin: 20px 0px 30px 0px;
  }
  .assistencias-home__texto h3 {
    margin-bottom: 29px;
  }
  li.assistencias-home__marca-logos {
    width: 44%;
    margin-bottom: 20px;
  }
  .exames-home h3 {
    text-align: center;
  }
  .exames-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hospital-conteudo__box {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hospital-conteudo__box2_lista {
    justify-content: center;
  }

  .hospital-conteudo__box2 h2 {
    letter-spacing: 0.1em;
    margin: 30px 0px 30px 0px;
    text-align: center;
  }
  .hospital-conteudo__box3 h3 {
    text-align: center;
  }
  .hospital-conteudo__box1_link-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .assistencias-home__texto h3 {
    width: 85%;
  }
  .banner-home__conteudo-icone img {
    width: 100%;
  }

  .banner-home__conteudo-box-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-home__conteudo-icone {
    margin-top: 50px;
    margin-left: 0px;
  }
  .banner-home__conteudo-texto span {
    text-align: center;
  }

  .banner-home__conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-home__conteudo-icone {
    width: 60%;
  }
  .consulta-social__home-box1 a.consulta-social__home-link {
    padding: 6px;
  }
  header .menu-nav__lista {
    display: none !important;
  }
  .hospital-conteudo__box-tabela {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .menu-nav__lista:after {
    display: none;
  }
  section.mapa-home {
    padding: 30px 0px;
  }
  section.consulta-social__home {
    padding: 30px 0px;
  }
  section.assistencias-home {
    padding: 45px 0px 30px 0px;
  }
  section.nossos-servicos {
    margin-bottom: 0px;
    padding: 30px 0px;
  }
  .nossos-servicos__home h3 {
    width: 100%;
    margin-bottom: 48px;
    line-height: 29px;
  }

  .nossos-servicos__home-img ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nossos-servicos__home-img ul li {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 75%;
  }

  .consulta-social__home-box1,
  p.consulta-social__home-texto2 {
    margin: 20px 0px 30px 0px;
  }
  p.hospital-conteudo__box1-color1 {
    margin-bottom: 35px;
    text-align: center;
    line-height: 22px;
    letter-spacing: 0, 5em;
  }
  .hospital-conteudo__box3 h3 {
    text-align: center;
  }
  button.slick-next.slick-arrow {
    right: -28px;
  }
  .hospital-conteudo__box2_lista p {
    width: 100%;
    height: 89px;
  }
  .consulta-social__home-box1 p.consulta-social__home-texto2 {
    line-height: 26px;
    margin: 20px 0px 21px 0px;
  }
  .slick-slide img {
    width: 100%;
  }

  button.slick-next.slick-arrow {
    @include mobile-slick-next;
  }

  button.slick-prev.slick-arrow {
    @include mobile-slick-prev;
  }

  .nossos-servicos__home-img span {
    position: initial;
    text-align: center;
    margin-top: -71px;
    margin-bottom: 25px;
    line-height: 25px;
  }
  .nossos-servicos__home-img a {
    margin-top: 57px;
  }
}
