@import "mixins";
@import "breakpoint";

$primary-color: #37613c;
$secondary-color: #f4f6f6;
$tertiary-color: #b6d8b9;
$fourth-color: #fff;

header.menu-nav {
  padding: 25px 0 0 0;
  background: transparent;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.menu-nav__box {
  display: flex;
  justify-content: space-between;
}

.menu-nav__lista {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 65%;
}

.menu-nav__logo {
  width: 25%;
}

.menu-nav__logo img {
  width: 100%;
}

ul.menu-nav__lista-box1,
ul.menu-nav__lista-box2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 27px;
  @include breakpoint(small-only) {
    margin-bottom: 0;
  }
}

li#menu-item-59,
li#menu-item-60 {
  position: relative;
}

li#menu-item-59 .sub-menu,
li#menu-item-60 .sub-menu {
  position: absolute;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  background: #81b887;
  @include breakpoint(medium-only) {
    height: 0;
    position: relative;
    width: 238px;
    transition: 0.5s ease;
  }
}

li#menu-item-59 .hover-active.sub-menu,
li#menu-item-60 .hover-active.sub-menu {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  @include breakpoint(medium-only) {
    height: auto;
    position: relative;
    width: 238px;
    transition: 0.5s ease;
  }
}

ul.sub-menu {
  width: 330px;
  padding: 0 10px;
}

ul.sub-menu .menu-item {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #37613c;
}

ul.sub-menu .menu-item a {
  padding: 10px 0;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  font-size: 35px;
  color: $primary-color;
  margin-right: 12px;
}

.menu-nav__lista-box1-item,
.menu-nav__lista-box2-item {
  @include paragraph-text2;
  color: $primary-color;
  display: flex;
  align-items: center;
  @include breakpoint(medium-only) {
    display: none;
  }
}

.menu-nav__lista-box1-item a,
.menu-nav__lista-box2-item a {
  @include paragraph-text2;
  color: $primary-color;
  display: flex;
  align-items: center;
}

a.menu-nav__lista-box2-item__link {
  background-color: #37613c;
  padding: 13px;
  border-radius: 25px;
  font-family: "Gotham" sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  @include breakpoint(medium-only) {
    display: none;
  }
}

a.menu-nav__lista-box2-item__link2 {
  border-radius: 36.5px;
  background: transparent;
  border: 2px solid #37613c;
  font-family: "Gotham" sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #e7f5f5;
  font-size: 17px;
  padding: 10px 10px 14px;
  color: #37613c;
  @include breakpoint(small-only) {
    font-size: 12px;
    padding: 10px 10px;
  }
}

.fas.fa-search {
  font-size: 22px;
  color: #37613c;
  margin-right: 8px;
  @include breakpoint(small-only) {
    font-size: 12px;
  }
}

.menu-nav__lista {
  position: relative;
}

.menu-nav__lista:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0px;
  background: transparent;
  border: 1px solid #37613c;
}

.menu-item a {
  font-family: "Gotham" sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #37613c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-nav__lista--nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.menu-nav__lista-box2 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav.menu-nav__lista-box1 {
  @include breakpoint(medium-only) {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: 0.5s;
    &.menu-mobile-active {
      @include breakpoint(medium-only) {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
        transition: 0.5s;
      }
    }
  }
}

ul#menu-menu-1 {
  @include breakpoint(medium-only) {
    flex-direction: column;
    position: absolute;
    right: 0;
    background: #fff;
    width: 80vw;
    & .menu-item {
      padding: 15px;
    }
  }
}

.menu-mobile-icon {
  background-color: $primary-color;
  width: 30px;
  height: 3px;
  margin-right: 0px;
  position: relative;
  display: none;
  @include breakpoint(medium-only) {
    display: block;
  }
  &::after {
    content: "";
    display: block;
    background-color: $primary-color;
    position: absolute;
    width: 30px;
    height: 3px;
    bottom: 7px;
  }
  &::before {
    content: "";
    display: block;
    background-color: $primary-color;
    position: absolute;
    width: 30px;
    height: 3px;
    top: 7px;
  }
  &.menu-ativo {
    transform: rotate(135deg);
    bottom: 0;
    transition: 0.3s;
  }
  &.menu-ativo::after {
    display: none;
  }
  &.menu-ativo::before {
    transform: rotate(-90deg);
    top: 0;
    transition: 0.3s;
  }
}

form.apice-busca {
  display: flex;
  align-items: center;
  position: relative;
  @include breakpoint(small-only) {
    width: 70%;
  }
}

form.apice-busca button {
  position: absolute;
  left: 3px;
  border: none;
  background: transparent;
  z-index: 1;
  cursor: pointer;
}

form.apice-busca input {
  display: flex;
  align-items: center;
  border: 2px solid #37613c;
  border-radius: 50px;
  height: 30px;
  padding-left: 40px;
  @include breakpoint(small-only) {
    padding-left: 25px;
  }
}
