@import "mixins";
@import "breakpoint";

header.menu-nav {
  padding: 25px 0 0 0;
  background: transparent;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.menu-nav__box {
  display: flex;
  justify-content: space-between;
}

.menu-nav__lista {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 65%;
}

.menu-nav__logo {
  width: 25%;
}

ul.menu-nav__lista-box1,
ul.menu-nav__lista-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  font-size: 35px;
  color: $primary-color;
  margin-right: 12px;
}

.menu-nav__lista-box1-item,
.menu-nav__lista-box2-item {
  @include paragraph-text2;
  color: $primary-color;
  display: flex;
  align-items: center;
}

a.menu-nav__lista-box2-item__link {
  background-color: #37613c;
  padding: 17px;
  border-radius: 25px;
  font-family: "Gotham" sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

a.menu-nav__lista-box2-item__link2 {
  border-radius: 36.5px;
  background: transparent;
  border: 2px solid #37613c;
  font-family: "Gotham" sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #e7f5f5;
  font-size: 17px;
  padding: 10px 10px 14px;
  color: #37613c;
}

.fas.fa-search {
  font-size: 22px;
  color: #37613c;
  margin-right: 8px;
}

.menu-nav__lista {
  position: relative;
}

.menu-nav__lista:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0px;
  background: transparent;
  border: 1px solid #37613c;
}
