@import "mixins";
@import "breakpoint";

section.ouvidoria-page {
  padding: 30px 0px;
}

h3.ouvidoria-page__conteudo-titulo {
  @include title-three;
  color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 15px;
}
p.ouvidoria-page__conteudo-texto1 {
  @include paragraph-banner;
  line-height: 40px;
  font-weight: normal;
  color: $primary-color;
  @include breakpoint(small-only) {
    line-height: 23px;
  }
}

.ouvidoria-page__conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ouvidoria-page__conteudo-img img {
  width: 100%;
}

.ouvidoria-page__conteudo-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .ouvidoria-page__conteudo {
    flex-direction: column-reverse;
    justify-content: center;
  }

  h3.ouvidoria-page__conteudo-titulo {
    text-align: center;
    margin-bottom: 15px;
  }

  p.ouvidoria-page__conteudo-texto1 {
    text-align: center;
  }
  .ouvidoria-page__conteudo-img img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  section.ouvidoria-page {
    padding: 18px 0px 18px 0px;
    margin-top: -40px;
  }
  .ouvidoria-page__conteudo-img {
    margin-bottom: 15px;
  }
}
