@import url("http://fonts.cdnfonts.com/css/gotham");
@import "breakpoint";
@import "normalize";
@import "mixins";
@import "banner-home__principal";
@import "conteudo-home";
@import "colunas";
@import "header";
@import "footer";
@import "ouvidoria";
@import "historia";
@import "codigo-etica";
@import "amas-saude";
@import "unidades";
@import "consulta-social";
@import "corpo-clinico";
@import "cirurgia-procedimento";
@import "exames";
@import "consultas";
@import "laboratorio";
@import "perguntas";
@import "odontologia";
@import "beauty";
@import "terapias";

$primary-color: #37613c;
$secondary-color: #f4f6f6;
$tertiary-color: #b6d8b9;
$fourth-color: #fff;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gotham", sans-serif;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px 10px !important;

  @include breakpoint(large-only) {
    max-width: 1200px;
    padding: 0px 10px !important;
  }
  @include breakpoint(medium-only) {
    max-width: 100%;
    padding: 0px 10px !important;
  }
}

.padding-section {
  padding: 100px 0px;
  @include breakpoint(small-only);
  padding: 50px 0px;
}

.margin-box {
  margin: 50px 0px;
}

a {
  text-decoration: none;
}
